---
layout: notwork_default
---

<div class="home">
  <h1>Notwork</h1>
  <p>Art from engineering</p>

  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="//markpercival.us6.list-manage.com/subscribe/post?u=78fedee78eaec460941f39fdd&amp;id=bb546effb5" method="post" role="form" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="form-group">
        <label for="mce-EMAIL">Subscribe to the Notwork Newsletter</label>
        <input type="email" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Enter email" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_78fedee78eaec460941f39fdd_bb546effb5" tabindex="-1" value=""></div>
      </div>
      <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe</button>
    </form>
  </div>

  <!--End mc_embed_signup-->

  <h3>Newsletter Archive</h3>

  <ul class="list-unstyled">
    {% for post in site.posts %}
      {% if post.layout == 'newsletter' %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <hr>
  <h3>Get Involved</h3>
  <ul class="list-unstyled">
  <li><a href="http://reddit.com/r/notwork">/r/Notwork on Reddit</a></li>
  </ul>

</div>
