---
layout: default
---
<div id="header" class='four alpha'>
  <h1><a href="/">MARK PERCIVAL</a></h1>
</div>
<h2>{{ page.title }}</h2>
<p class="data">{{ page.date | date_to_string }}</p>

<div id="post" class='twelve columns alpha'>
{{ content }}
  <div>
    <hr>
    <section>
      <h2>Comments</h2>
      <script src="https://utteranc.es/client.js"
              repo="mdp/mdp.github.io"
              issue-term="pathname"
              label="comments"
              theme="github-light"
              crossorigin="anonymous"
              async>
      </script>

    </section>
  </div>
</div>
